<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aikang.mapper.WBillItemMapper">
	<resultMap id="BaseResultMap" type="com.aikang.Bean.WBillItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="rmid" property="rmid" jdbcType="BIGINT"/>
        <result column="rmname" property="rmname" jdbcType="VARCHAR"/>
        <result column="wtype" property="wtype" jdbcType="INTEGER"/>
        <result column="dayid" property="dayid" jdbcType="INTEGER"/>
        <result column="daynum" property="daynum" jdbcType="INTEGER"/>
        <result column="sid" property="sid" jdbcType="BIGINT"/>
        <result column="sname" property="sname" jdbcType="VARCHAR"/>
        <result column="hid" property="hid" jdbcType="BIGINT"/>
        <result column="hcode" property="hcode" jdbcType="VARCHAR"/>
        <result column="hname" property="hname" jdbcType="VARCHAR"/>
        <result column="workstate" property="workstate" jdbcType="INTEGER"/>
        <result column="changenum" property="changenum" jdbcType="INTEGER"/>
        <result column="changelist" property="changelist" jdbcType="VARCHAR"/>
        <result column="maketime" property="maketime" jdbcType="VARCHAR"/>
        <result column="waittime" property="waittime" jdbcType="VARCHAR"/>
        <result column="worktime" property="worktime" jdbcType="VARCHAR"/>
        <result column="breakstart" property="breakstart" jdbcType="VARCHAR"/>
        <result column="breaklong" property="breaklong" jdbcType="INTEGER"/>
        <result column="finishtime" property="finishtime" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="kid" property="kid" jdbcType="BIGINT"/>
        <result column="kname" property="kname" jdbcType="VARCHAR"/>
		<result column="paystate" property="paystate" jdbcType="INTEGER"/>
		<result column="paynum" property="paynum" jdbcType="INTEGER"/>
		<result column="payid" property="payid" jdbcType="BIGINT"/>
		<result column="checkcode" property="checkcode" jdbcType="VARCHAR"/>
		<result column="enabled" property="enabled" jdbcType="INTEGER"/>
		<result column="worksalary" property="worksalary" jdbcType="DOUBLE"/>
		<result column="clocknum" property="clocknum" jdbcType="DOUBLE"/>
		<result column="clocknumzs" property="clocknumzs" jdbcType="DOUBLE"/>
		<result column="itembill" property="itembill" jdbcType="DOUBLE"/>
		<result column="pricetype" property="pricetype" jdbcType="VARCHAR"/>
		<result column="hyid" property="hyid" jdbcType="BIGINT"/>
		<result column="hyname" property="hyname" jdbcType="VARCHAR"/>
		<result column="hyseriid" property="hyseriid" jdbcType="VARCHAR"/>
		<result column="hyrmoney" property="hyrmoney" jdbcType="DOUBLE"/>
		<result column="checkid" property="checkid" jdbcType="VARCHAR"/>
		<result column="checkname" property="checkname" jdbcType="VARCHAR"/>
		<result column="checkhcode" property="checkhcode" jdbcType="VARCHAR"/>
		<result column="checktime" property="checktime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getAllWBillItem" resultMap="BaseResultMap" statementType="PREPARED">
        select wi.* from aikang_wbillitem wi order by wi.dayid where company=#{company}
    </select>
    <select id="getBillItemsByHid" resultMap="BaseResultMap" statementType="PREPARED">
        select wi.id,wi.rmid,wi.rmname,wi.wtype,wi.dayid,wi.sid,wi.sname,wi.hid,wi.hcode,wi.hname,
        wi.workstate,wi.worktime,wi.waittime,wi.breakstart,wi.breaklong,wi.finishtime
        from aikang_wbillitem wi 
        where hid=#{hid} and company=#{company}
        order by wi.dayid
    </select>
    <select id="getCompanyBillItemById" resultMap="BaseResultMap" statementType="PREPARED">
        select wi.* from aikang_wbillitem wi
        where id=#{id} and company=#{company}
    </select>
    <select id="getCompanyWBillItemByIds" resultMap="BaseResultMap" statementType="PREPARED">
        select wi.* from aikang_wbillitem wi 
        where  company=#{company} and id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
        	#{item}
        </foreach>
        order by wi.dayid
    </select>
    
    <select id="getCompanyHuiYuanSpandWBillItemByseriid" resultType="java.util.HashMap" 
    	parameterType="java.util.HashMap">
        select 
        wi.sid as sid,
        wi.sname as sname,
        wi.clocknum as clocknum,
        wi.itembill as itembill,
        wi.wtype as wtype,
        wi.hid as hid,
        wi.hname as hname,
        wi.checkname as checkname,
        wi.finishtime as finishtime,
        wi.checktime as checktime,
        wi.hyname as hyname,
        wi.hyrmoney as hyrmoney,
        ah.cardid as cardid,
        ah.typecname as typename
        from aikang_wbillitem wi
        left join aikang_huiyuan ah on wi.`hyseriid`=ah.`seriid` 
        where  wi.company=#{company} and wi.hyid = #{id}
        order by wi.checktime desc, wi.hyrmoney asc
    </select>
    
    <select id="queryBillSummarySpanDay" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT 
		COALESCE(SUM(itembill),0) as money,
		COALESCE(SUM(worksalary),0) as salary
		FROM aikang_wbillitem
		where company=#{company} and <![CDATA[daynum>=#{query.qs} ]]>  and <![CDATA[daynum < #{query.qe} ]]>
	</select>
	
	<select id="queryAllWorksServiceSpanDay" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT 
		any_value(hid) as hid,
		any_value(sname) as sname,
		any_value(hname) as hname,
		any_value(hcode) as hcode,
		any_value(wtype) as wtype,
		COALESCE(SUM(clocknumzs),0) as clocknum,
		COALESCE(SUM(worksalary),0) as salary
		FROM aikang_wbillitem
		where company=#{company} and <![CDATA[daynum>=#{query.qs} ]]>  and <![CDATA[daynum < #{query.qe} ]]>
		<if test="query.qh >= 0">
            and hid = #{query.qh}
        </if>
		GROUP BY hid,sname,wtype WITH rollup        <!-- WITH rollup 会带来一项分组的统计-->
	</select>
    <select id="queryAllWorksDetailsSpanDay" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT
		id,
		rmname, 
		hid,
		sname,
		hname,
		hcode,
		wtype,
		clocknum,
		clocknumzs,
		worksalary,
		itembill,
		pricetype,
		hyname,
		hyseriid,
		checktime
		FROM aikang_wbillitem
		where company=#{company} and <![CDATA[daynum>=#{query.qs} ]]>  and <![CDATA[daynum < #{query.qe} ]]>
		<if test="query.qh >= 0">
            and hid = #{query.qh}
        </if>
        order by checktime desc
	</select>
	
	<select id="queryXiaoFeiJiLuSpanDay" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT
		wb.id,
		wb.dayid,
		wb.rmname, 
		wb.hid,
		wb.sid,
		wb.sname,
		wb.hname,
		wb.hcode,
		wb.wtype,
		wb.clocknum,
		wb.clocknumzs,
		wb.worksalary,
		wb.itembill,
		wb.pricetype,
		wb.hyname,
		wb.hyseriid,
		wb.hyrmoney,
		wb.maketime,
		wb.checktime,
		wb.hyid,
		hy.cardid,
		hy.typecname
		FROM aikang_wbillitem wb
		left join aikang_huiyuan hy on wb.`hyid`=hy.`id` and wb.`company`=hy.`company`
		where wb.company=#{company} and <![CDATA[wb.daynum>=#{query.qs} ]]>  and <![CDATA[wb.daynum < #{query.qe} ]]>
		<if test="query.qh >= 0">
            and wb.hid = #{query.qh}
        </if>
        <if test="query.qi >= 0">
            and wb.sid = #{query.qi}
        </if>
        <if test="query.qt == 1">
            and <![CDATA[wb.hyid>0 ]]>
        </if>
        <if test="query.qt == 2">
            and <![CDATA[wb.hyid<=0 ]]>
        </if>
        order by wb.checktime desc
	</select>
	
    <insert id="insertWBillItems" parameterType="com.aikang.Bean.WBillItem" useGeneratedKeys="true" keyProperty="id" keyColumn="id" statementType="PREPARED">
    insert into aikang_wbillitem 
    (
    	company,
    	ordertype,
    	gukenum,
    	gukeidx,
    	billnumber,
    	rmid,
    	rmname,
    	wtype,
    	dayid,
    	daynum,
    	sid, 
    	sname, 
    	hid, 
    	hcode, 
      	hname, 
      	workstate,
      	changenum, 
      	changelist,
      	maketime, 
      	waittime, 
      	worktime, 
      	breakstart, 
      	breaklong, 
      	finishtime, 
      	remark, 
      	kid, 
      	kname, 
      	paystate,
      	paynum, 
      	payid, 
      	checkcode,
      	enabled,
		worksalary,
		clocknum,
		clocknumzs,
		itembill,
		pricetype,
		hyid,
		hyname,
		hyseriid,
		hyrmoney,
		checkid,   
		checkname,
		checkhcode,
		checktime
    )
    values 
    <foreach collection="record" item="WBillItem" separator=","> 
      (
      #{WBillItem.company,jdbcType=VARCHAR},
      #{WBillItem.ordertype,jdbcType=INTEGER},
      #{WBillItem.gukenum,jdbcType=INTEGER},
      #{WBillItem.gukeidx,jdbcType=INTEGER},
      #{WBillItem.billnumber,jdbcType=VARCHAR},
      #{WBillItem.rmid,jdbcType=BIGINT},
      #{WBillItem.rmname,jdbcType=VARCHAR},
      #{WBillItem.wtype,jdbcType=INTEGER}, 
      #{WBillItem.dayid,jdbcType=INTEGER}, 
      #{WBillItem.daynum,jdbcType=INTEGER}, 
      #{WBillItem.sid,jdbcType=BIGINT}, 
      #{WBillItem.sname,jdbcType=VARCHAR}, 
      #{WBillItem.hid,jdbcType=BIGINT},
      #{WBillItem.hcode,jdbcType=VARCHAR}, 
      #{WBillItem.hname,jdbcType=VARCHAR}, 
      #{WBillItem.workstate,jdbcType=INTEGER}, 
      #{WBillItem.changenum,jdbcType=INTEGER}, 
      #{WBillItem.changelist,jdbcType=VARCHAR},
      #{WBillItem.maketime,jdbcType=VARCHAR}, 
      #{WBillItem.waittime,jdbcType=VARCHAR}, 
      #{WBillItem.worktime,jdbcType=VARCHAR}, 
      #{WBillItem.breakstart,jdbcType=VARCHAR}, 
      #{WBillItem.breaklong,jdbcType=INTEGER}, 
      #{WBillItem.finishtime,jdbcType=VARCHAR}, 
      #{WBillItem.remark,jdbcType=VARCHAR},
      #{WBillItem.kid,jdbcType=BIGINT},
      #{WBillItem.kname,jdbcType=VARCHAR},
      #{WBillItem.paystate,jdbcType=INTEGER},
      #{WBillItem.paynum,jdbcType=INTEGER},
      #{WBillItem.payid,jdbcType=BIGINT},
      #{WBillItem.checkcode,jdbcType=VARCHAR},
      #{WBillItem.enabled,jdbcType=INTEGER},
      #{WBillItem.worksalary,jdbcType=DOUBLE},
      #{WBillItem.clocknum,jdbcType=DOUBLE},
      #{WBillItem.clocknumzs,jdbcType=DOUBLE},
      #{WBillItem.itembill,jdbcType=DOUBLE},
      #{WBillItem.pricetype,jdbcType=VARCHAR},
      #{WBillItem.hyid,jdbcType=BIGINT},
      #{WBillItem.hyname,jdbcType=VARCHAR},
      #{WBillItem.hyseriid,jdbcType=VARCHAR},
      #{WBillItem.hyrmoney,jdbcType=DOUBLE},
      #{WBillItem.checkid,jdbcType=VARCHAR},
      #{WBillItem.checkname,jdbcType=VARCHAR},
      #{WBillItem.checkhcode,jdbcType=VARCHAR},
      #{WBillItem.checktime,jdbcType=VARCHAR}
      )
     </foreach>
  </insert>

  <update id="updateWaiterStateListByIdSelective"  parameterType="java.util.List" statementType="PREPARED">
      update aikang_wbillitem
      <trim prefix="set" suffixOverrides=",">
        <trim prefix="workstate = case" suffix="end,">
          <foreach collection="record" item="WBillItem">
            <if test="WBillItem.workstate != null">
              when id=#{WBillItem.id} then #{WBillItem.workstate}
            </if>
          </foreach>
        </trim>
      </trim>
      where
        <foreach collection="record" item="WBillItem" separator="or">
            id = #{WBillItem.id}
        </foreach>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aikang.Bean.WBillItem" statementType="PREPARED">
        update aikang_wbillitem
        <set>      
            <if test="record.rmid != null">
                rmid = #{record.rmid,jdbcType=BIGINT},
            </if>
            <if test="record.rmname != null">
                rmname = #{record.rmname,jdbcType=VARCHAR},
            </if>
            <if test="record.wtype != null">
                wtype = #{record.wtype,jdbcType=INTEGER},
            </if>
            <if test="record.dayid != null">
                dayid = #{record.dayid,jdbcType=INTEGER},
            </if>
            <if test="record.daynum != null">
                daynum = #{record.daynum,jdbcType=INTEGER},
            </if>
            <if test="record.sid != null">
                sid = #{record.sid,jdbcType=BIGINT},
            </if>
      		<if test="record.sname != null">
                sname = #{record.sname,jdbcType=VARCHAR},
            </if> 
      		<if test="record.hid != null">
                hid = #{record.hid,jdbcType=BIGINT},
            </if>
            <if test="record.hcode != null">
                hcode = #{record.hcode,jdbcType=INTEGER},
            </if> 
      		<if test="record.hname != null">
                hname = #{record.hname,jdbcType=VARCHAR}, 
            </if>
      		<if test="record.workstate != null">
                workstate = #{record.workstate,jdbcType=VARCHAR},
            </if> 
      		<if test="record.changenum != null">
                changenum = #{record.changenum,jdbcType=INTEGER},
            </if> 
      		<if test="record.changelist != null">
                changelist = #{record.changelist,jdbcType=VARCHAR}, 
            </if>
            <if test="record.maketime != null">
                maketime = #{record.maketime,jdbcType=VARCHAR},
            </if> 
      		<if test="record.waittime != null">
                waittime = #{record.waittime,jdbcType=VARCHAR},
            </if> 
      		<if test="record.worktime != null">
                worktime = #{record.worktime,jdbcType=VARCHAR}, 
            </if>
      		<if test="record.breakstart != null">
                breakstart = #{record.breakstart,jdbcType=VARCHAR}, 
            </if>
      		<if test="record.breaklong != null">
                breaklong = #{record.breaklong,jdbcType=INTEGER}, 
            </if>
      		<if test="record.finishtime != null">
                finishtime = #{record.finishtime,jdbcType=VARCHAR},
            </if> 
      		<if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
      		<if test="record.kid != null">
                kid = #{record.kid,jdbcType=BIGINT},
            </if>
      		<if test="record.kname != null">
                kname = #{record.kname,jdbcType=VARCHAR},
            </if>
      		<if test="record.paystate != null">
                paystate = #{record.paystate,jdbcType=INTEGER},
            </if>
      		<if test="record.paynum != null">
                paynum = #{record.paynum,jdbcType=INTEGER},
      		</if>
      		<if test="record.payid != null">
                payid = #{record.payid,jdbcType=BIGINT},
      		</if>
      		<if test="record.checkcode != null">
                checkcode = #{record.checkcode,jdbcType=VARCHAR},
      		</if>		
      		<if test="record.enabled != null">
                enabled = #{record.enabled,jdbcType=INTEGER},
      		</if>
      		<if test="record.worksalary != null">
                worksalary = #{record.worksalary,jdbcType=DOUBLE},
      		</if>
      		<if test="record.clocknum != null">
                clocknum = #{record.clocknum,jdbcType=DOUBLE},
      		</if>
      		<if test="record.clocknumzs != null">
                clocknumzs = #{record.clocknumzs,jdbcType=DOUBLE},
      		</if>
      		<if test="record.itembill != null">
                itembill = #{record.itembill,jdbcType=VARCHAR},
      		</if>
      		<if test="record.pricetype != null">
                pricetype = #{record.pricetype,jdbcType=VARCHAR},
      		</if>
      		<if test="record.hyid != null">
                hyid = #{record.hyid,jdbcType=BIGINT},
      		</if>
      		<if test="record.hyname != null">
                hyname = #{record.hyname,jdbcType=VARCHAR},
      		</if>
      		<if test="record.hyseriid != null">
                hyseriid = #{record.hyseriid,jdbcType=VARCHAR},
      		</if>
      		<if test="record.hyrmoney != null">
                hyrmoney = #{record.hyrmoney,jdbcType=VARCHAR},
      		</if>
      		<if test="record.checkid != null">
                checkid = #{record.checkid,jdbcType=VARCHAR},
      		</if>
      		<if test="record.checkname != null">
                checkname = #{record.checkname,jdbcType=VARCHAR},
      		</if>
      		<if test="record.checkhcode != null">
                checkhcode = #{record.checkhcode,jdbcType=VARCHAR},
      		</if>
      		<if test="record.checktime != null">
                checktime = #{record.checktime,jdbcType=VARCHAR},
      		</if>

        </set>
        where id = #{record.id}
    </update>
  	<delete id="deleteWBillItemByID">
    	delete from aikang_wbillitem where id=#{id}
  	</delete>
</mapper>